*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}



    section.big-container{
        width: 100%;
        display: flex;
        height: calc((100vh) - 5rem);
        
    }

 /* universali  */
    .grey{
        color: #7b7d82;
    }
    
    .white{
        color: white;
    }
    
    .white-titolo{
        color: white;
    }

    .center{
        text-align: center;
        padding: 1rem;

    }

    .center-g{
        text-align: center;
        padding-top: 0.2rem;
    }

    /*----------------------------------------  */

    /* Parte Header/Sidebar */
    .header-nav{
        width: 15rem;
        background-color: #000000;
        margin: 0;
        height: 100%;
    }
    /* ------------------------------ */

    /* main-nav main/ Recently Played/ creato per john don/ popular */
    main{
        width: calc((100vw) - 15rem);
    }
    .main-container{
        height: calc((100vh) - 5rem);
        background-color: #141922;
        overflow: scroll;
    }

    .main-nav{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 5rem;
    }

    div.main-nav ul{
        display: flex;
        font-size: 13px;
        margin: 0;
    }

    div.main-nav ul li{
        list-style-type: none;
        padding: 1rem;
    }


    #hr-yellow{
        border-bottom: 1px solid #caff31;
        width: 30px;
        left: 28rem;
        top: 7.2rem;
    }

    /* recently played */

    .articles-recently{
        padding: 3rem 2rem 0 1rem;
    }

    div.articles-flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        padding-bottom: 3rem;
    }

    div.music{
        width: calc((100% / 6) - 50px);
    }

    
    div.articles-flex div.music .size-img{
        height: 200px;
        margin-top: 2rem;   
    }

    /* john doe */
    
    .john-doe{
        padding-left: 1rem;
        padding-bottom: 3rem
    }

    div.john-doe p{
        font-size: 12px;
        margin-top: 1rem;
    }

    .john-doe-flex{
        display: flex;
    }

    div.john-doe-flex div.music .size-img{
        width: 100%;
        margin-top: 2rem;
        padding-right: 1rem;

    }


    /* artisti piu popolari */

    div.popolari p{
        font-size: 12px;
        margin-top: 1rem;
    }

    .popolari{
        padding-left: 1rem;
        padding-bottom: 3rem
    }

    .popolari-flex{
        display: flex;
    }

    div.popolari-flex div.music .size-img{
        width: 100%;
        margin-top: 2rem;
        padding-right: 1rem;

    }

    /* ---------------------------------- */
    
    
    
    /* Tasto Effettua l'upgrade */
    
    .bg-bt-color{
        background-color: #080b12;
        padding: 1rem 0.3rem 1.6rem 0;
        position: fixed;
        left: 15rem;
        right: 0;
    }

    #upgrade{
        padding: 0.7rem 2rem 0.7rem 2rem;
        background-color: #080b12;
        color: white;
        border: 1px solid white;
        border-radius: 50px;
        font-size: 12px;
    }
    
    #upgrade p{
        font-weight: 900;
    }
    
    div.piano-upgrade{
        text-align: end;
    }
    /* ------------------------------------ */
    
    /* Footer/ Nav musica */

    .info{
        margin-top:1.5rem;
        font-size: 12px;
        
    }

    .nav-music{
        height: 5rem;
        background-color: #282828;
        width: 100%;
    }

    .music-now{
        display: flex;
    }

    .img-ft-size{
        width: 3%;
        margin: 0.8rem 1rem 0.5rem 1rem;
    }

    i{
        color: grey;
    
    }

    .fa-heart{
        margin: 2rem 1rem 1rem 2rem;
    }

    .fa-folder{
        margin: 2rem 0 0 0;
    }








